*{
margin: 0;
padding: 0;
}
/* Header */
header{
    background-image: url("..//Style/Assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Nav section styles */
.nav-header{
    max-width: 1240px;
    margin: 10px 200px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    color: rgb(84, 7, 47);
    font-size: 30px;
    font-weight: 900;
}
.nav-btn{
    background-color: rgb(84, 7, 47);
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    color: #FFFFFF;
    font-family:'Trebuchet MS';
    font-weight: bold;
    
}
.nav-btn:hover{
    box-shadow: 1px 6px 10px rgb(84, 7, 47);
    transition: 0.4s ease-in-out;
}
/* Template section styles */
.Template{
    max-width: 1240px;
    margin: 70px 200px;
}
.Template-container{
    text-align: center;
    
}
.Template-main-heading{
    font-size: 90px;
    font-weight: 900;
  margin-bottom: 30px;
}
.Template-btn{
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
}
/* Banner  section header */
.Banner-header{
     max-width: 1240px;
    margin: 70px 200px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

}
.Banner-headline{
    color: #252432;
    margin-bottom: 10px;



}
.Banner-headline{
    color: #252432;
   
}
.Banner-btn{
    width: 150px;
    height: 30px;
    margin-top: 10px;

}
.Banner-img{
    border-radius: 20px;
    

}
.Banner-img:hover{
    box-shadow: 2px 5px 30px  black;
}
.Banner-description{
    color: #252432;
}

